.algo-container {
    margin-top: 80px;
    margin-bottom: 80px;
}

.my-toggle label {
    font-family: 'Pacifico', cursive !important;
    font-size: 20px;
    padding-left: 20px !important;
    color: #000080 !important;
}