.about-us-container {
    padding: 70px 0;
}

.about-us-container h2 {
    font-family: 'Vollkorn', serif;
    color: #000080;
}

div.in-about p {
    font-family: 'Marck Script', cursive;
    font-size: 18px;
}

div.trust p{
    font-family: 'Handlee', cursive;
    font-size: 18px;
}

.about {
    margin-top: 50px;
}

img.circle-img {
    border: 1px solid transparent;
    border-radius: 100%;
}

.membership {
    margin-bottom: 30px;
}

.about-us-container .media-heading {
    font-family: 'Vollkorn', serif;
    color: #008080;
    font-size: 22px;
}

.about-us-container .school {
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 50px;
}

.about-us-container .role {
    font-size: 20px;
    font-family: 'Markazi Text', serif;
}

.member-cont {
    margin-top: 100px;
}